<div class="mb-4">
	<div class="card pt-2">
	<div class="text-center">{{ fields.field_photo.content }}</div>
	  <div class="card-body">
	  <h5 class="card-title text-center">{{ fields.title.content }}</h5>
	  <h6 class="card-subtitle mb-2 p14 medium text-center">{{ fields.field_sub_header.content }}</h6>
		<p class="card-text p14 color-grey">{{ fields.field_settings.content }}</p>
	  </div>
	  <div class="card-footer pt-0">
		<div class="price p28 color-main mb-4">{{ fields.add_to_cart_price.content }}</div>
		<a href="{{ fields.view_node.content }}" class="stretched-link color-main d-flex align-items-center">Узнать больше <span class="material-icons ml-1">trending_flat</span></a>
	  </div>  
	</div>
</div> 