<div class="col-lg-4 mb-4">
	<div class="card pt-2">
	  <div class="text-center">{{ fields.field_photo.content }}</div>
	  <div class="card-body">
	  <h5 class="card-title text-center">{{ fields.title.content }}</h5>
	  <h6 class="card-subtitle mb-2 p13 medium text-center">{{ fields.field_sub_header.content }}</h6>
	  <p class="card-text p14 color-grey">{{ fields.field_settings.content }}</p>
	  </div>
	  <div class="card-footer">
		<div class="price p28 color-main mb-4">{{ fields.add_to_cart_price.content }}</div>
		<div class="price">{{ fields.add_to_cart.content }}</div>
	  </div>  
	</div>
</div> 