<div class="col-lg-3 d-flex align-items-center">  
	<a href="{{ path('<front>') }}" rel="home" class="mr-2">
	  <img src="{{ site_logo }}" alt="{{ 'Главная'|t }}" />
	</a>
	<a href="{{ path('<front>') }}" rel="home">{{ name_site }}</a>
</div>