<!DOCTYPE html>
<html lang="ru">
  <head>
    <head-placeholder token="{{ placeholder_token }}">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">	
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token }}">
    <js-placeholder token="{{ placeholder_token }}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body{{ attributes.addClass('h-100 d-flex flex-column') }}>
    {{ page_top }}
    {{ page }} 
    {{ page_bottom }}
	<a href="#" class="scrollup d-block d-lg-none" style="display: inline;">Наверх</a>
    <js-bottom-placeholder token="{{ placeholder_token }}">
  </body>
</html>